<launch>
    <arg name="ip"/>
    <arg name="camera_lx" default="10"/>
    <arg name="camera_rx" default="4"/>
    <rosparam file="$(find realsense)/src/camera_setting.yaml" ns="camera"/>
    <machine name="turtlebot3-raspberry" address="$(arg ip)" user="ubuntu" password="turtlebot" env-loader="/home/ubuntu/realsense/catkin_ws/devel/realsense_env.sh"/>
    <node machine="turtlebot3-raspberry" name="realsense" type="realsense.py" pkg="realsense" output="screen" ns="camera/lx">
        <param name="camera_id" type="int" value="$(arg camera_lx)"/>
    </node>
    <node machine="turtlebot3-raspberry" name="realsense" type="realsense.py" pkg="realsense" output="screen" ns="camera/rx">
        <param name="camera_id" type="int" value="$(arg camera_rx)"/>
    </node>
</launch>